head
  title Slovo
body
  .container
    header
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Slovo
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
            ul.nav.navbar-nav.navbar-right
              +loginButtons
    .jumbotron
      +hello

template(name="hello")
  h1 Welcome to Slovo!
  p Slovo is an innovating service that helps you achieve your goals with the
    | help of Dynamic programming method
  p
    a.btn.btn-lg.btn-primary#js-hello-btn(role="button") Learn more
