template(name='goalConstructorItem')
  .goal-block.panel.panel-default(id=_id style="{{position parentGoalId}}")
    .panel-body
      .pull-left.goal-title.truncate=title
      a.pull-right.js-edit-goal
        span.glyphicon.glyphicon-pencil
