template(name='goalConstructorItem')
  .goal-block.panel.panel-default(id=_id style="{{position parentGoalId}}")
    +goalModalForm goal=this action='update'
    .panel-body
      .pull-left.goal-title.truncate=title
      a.pull-right.js-edit-goal(data-toggle="modal" data-target="##{_id}-modal")
        span.glyphicon.glyphicon-pencil
