template(name='goalConstructorItem')
  .goal-block(id=_id style="{{blockStyle this}}")
    .panel-wrapper
      .panel.goal-block-content(class="{{mainGoalClass}}")
        .panel-body
          .goal-title.truncate=title
