template(name='goalConstructorItem')
  .goal-block.panel(id=_id style="{{position parentGoalId}}" class="{{mainGoalClass}}")
    .panel-body
      .pull-left.goal-title.truncate=title
      if parentGoalId
        a.pull-right.js-edit-goal
          span.glyphicon.glyphicon-pencil
