template(name='goalModalForm')
  .modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="{{goal._id}}-modal")
    .modal-dialog
      .modal-content
        +autoForm(collection="Goals" id="goalModalForm" type=action role="form" doc=goal)
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title Edit goal
          .modal-body
            fieldset.form-horizontal
              +afQuickField template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" name='title'
              +afQuickField template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" name='description'
              .form-group
                label.col-sm-3.control-label Makes
                .col-sm-3
                  .input-group
                    +afFieldInput name='pctOfParentGoal' disabled=pctOfParentGoalDisabled
                    span.input-group-addon %
                  span.help-block {{afFieldMessage name='pctOfParentGoal'}}
                .col-sm-6
                  p.form-control-static of {{parentGoal.title}}
              .form-group
                +afFieldLabel name='pctCompleted' class="col-sm-3 control-label"
                .col-sm-3
                  .input-group
                    +afFieldInput name='pctCompleted'
                    span.input-group-addon %
                  span.help-block {{afFieldMessage name='pctCompleted'}}
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
            input.btn.btn-primary(type='submit' value='Submit')
