template(name='goalConstructorItem')
  .goal-block(id=_id style="{{position parentGoalId}}")
    .panel(class="{{mainGoalClass}}" style="margin-bottom: 0px;")
      .panel-body
        .goal-title.truncate=title
