body    { padding: 20px 0 20px; }
.navbar { margin-bottom: 20px; }

/** BLOCK DIAGRAM **/
.block-diagram        { position: relative; }
.block                { text-align:center; position:absolute; }
.block-diagram .block { line-height:2em; }
._jsPlumb_endpoint    { cursor:pointer; }
