body      { padding: 20px 0 20px; }
.navbar   { margin-bottom: 20px; }

.truncate { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/** BLOCK DIAGRAM **/
.block-diagram          { position: relative; }
.goal-block             { position: absolute; }
.goal-block .goal-title { width: 10em; }
._jsPlumb_endpoint      { cursor: pointer; }
