template(name='header')
  header
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="{{pathFor 'home'}}") Slovo
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class="{{activeRouteClass 'home'}}")
              a(href="{{pathFor 'home'}}") Home
            if currentUser
              li(class="{{activeRouteClass 'goals'}}")
                a(href="{{pathFor 'goals'}}") Goals
          ul.nav.navbar-nav.navbar-right
            +loginButtons