template(name='notFoundPage')
  .row
    .col-md-offset-3.col-md-6
      h2.notFoundError 404 Page Not Found
      p Check if you spelled the URL correctly, or go back to the
        a(href="{{pathFor 'home'}}") homepage
    .col-md-3
