template(name="home")
  .jumbotron
    h1 Welcome to Slovo!
    p Slovo is an innovating service that helps you achieve your goals with the
      | help of Dynamic programming method
    p
      a.btn.btn-lg.btn-primary#js-home-btn(role="button") Learn more